@import "tailwindcss";

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}